@model IEnumerable<ClubUI.Models.Club>

@{
    ViewData["Title"] = "Club Listing";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                <label>Style</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(c=>c.Name).OrderBy(c=>c.StyleCodeNavigation.Name)) {
        <tr>
            <td>
                <a asp-controller="Contract" asp-action="Index" asp-route-ClubId="@item.ClubId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StyleCodeNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClubId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClubId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClubId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
